/* base : fondation de base du site/programme, config globale,  */
@layer base, layout, component;

@layer base {

  /* Définir 1rem à 10px */
  html {
    font-size: 62.5%;
    /* 62.5% de 16px = 10px */
  }

  /* 1. Réinitialisation des marges et des espacements */
  *,
  *::before,
  *::after {
    margin: 0;
    /* Supprime les marges par défaut */
    padding: 0;
    /* Supprime les espacements par défaut */
    box-sizing: border-box;
    /* Inclut le padding et la bordure dans les dimensions de l'élément */
  }

  /* 2. Définition des styles de base */
  body {
    font-family: Arial, sans-serif;
    /* Police par défaut */
    background-color: #00000088;
    /* Couleur de fond par défaut */
    color: #333;
    /* Couleur du texte par défaut */
    line-height: 1.5;
    /* Interligne par défaut pour le texte */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* 3. Réinitialisation des titres */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    /* Supprime les marges par défaut des titres */
  }

  /* 4. Réinitialisation des listes */
  ul,
  ol {
    list-style: none;
    /* Supprime les puces et les numéros */
  }

  /* 5. Réinitialisation des liens */
  a {
    text-decoration: none;
    /* Supprime le soulignement par défaut des liens */
    color: inherit;
    /* Hérite de la couleur du texte */
  }

  /* 6. Réinitialisation des images */
  img {
    max-width: 100%;
    /* Rendre les images réactives */
    height: auto;
    /* Maintenir les proportions des images */
  }

  /* 7. Réinitialisation des tableaux */
  table {
    border-collapse: collapse;
    /* Supprime les espaces entre les cellules */
    width: 100%;
    /* Rendre les tables réactives */
  }

  /* 8. Réinitialisation des boutons */
  button {
    background: none;
    /* Supprime les styles par défaut des boutons */
    border: none;
    /* Supprime les bordures par défaut des boutons */
    cursor: pointer;
    /* Change le curseur au survol */
  }
}

/* layout : disposition des composants sur la page, grid, flexbox, mise en page */
@layer layout {
  /* navbar  */
  .navbar {
    color: white;
    border-bottom: 1px solid black;
  }

  /* unOrdoned list + element list */
  .navbar__list {
    margin: 0.1rem 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    gap: 15rem;
    line-height: 1rem;
  }

  .navbar__logo {
    width: 7rem;
    filter: brightness(0);
  }

  .navbar__link {
    font-weight: bolder;
    padding: 0.8rem;
  }

  .navbar__link:hover {
    color: rgba(255, 255, 255, 0.444);
    cursor: pointer;
  }

  .navbar__search {
    line-height: 5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar__search-input {
    height: 2.5rem;
    margin: 0 1rem;
  }

  .navbar__search-icon {
    color: black;
  }

  /* dropdown menu button  */
  .navbar__dropdown {
    position: relative;
  }

  .navbar__dropdown-title {
    font-weight: bolder;
    padding: 0.6rem;
  }

  .navbar__dropdown-title:hover {
    color: rgba(255, 255, 255, 0.444);
    cursor: pointer;
  }

  .navbar__dropdown-list {
    padding: 0.6rem;
    background-color: rgba(0, 0, 0, 0.91);
    position: absolute;
    top: 1.5rem;
    width: 16rem;
    text-align: center;
    display: none;
    cursor: pointer;
    z-index: 10;
  }

  .navbar__dropdown-item {
    line-height: 2;
  }

  .navbar__dropdown-item:hover {
    background-color: rgba(255, 11, 11, 0.537);
  }

  .navbar__dropdown:hover .navbar__dropdown-list {
    display: block;
  }

  /* SecondNavbar */
  .secondNavbar__alphabetList {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 0;
    font-size: 2rem;
    font-weight: bold;
  }

  .secondNavbar__alphabetItem {
    background-color: rgba(255, 7, 7, 0.196);
    font-weight: bolder;
    color: white;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    width: 2.5rem;
    text-align: center;
  }

  .secondNavbar__alphabetItem:hover {
    background-color: rgb(255, 7, 7);
  }

  /* main  */
  .main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 3rem 0;
    /* haut/droite/bas/gauche */
    width: 75%;
    position: relative;
  }

  .main__carousel {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.157);
    height: 40rem;
    margin-bottom: 1rem;
    display: flex;
    position: relative;
  }

  .main__aside {
    background-color: #00000061;
    width: 30rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aside_inputs{
    border: 1px solid black;
    padding: 1rem;
    width: 90%;
    margin: 1rem;
    background: rgba(0, 0, 0, 0.357);
  }

  .genre-selection{
    width: 100%;
    background-color: rgba(253, 253, 253, 0.362);
  }

  .genre-selection>option{
    background-color: rgba(0, 0, 0, 0.687);
    font-size: 1.5rem;
    color: white;
  }

  .aside_inputs>label{
    color: white;
  }

  .main__section {
    background-color: #00000028;
    border-radius: 3rem;
    width: 40rem;
    padding: 5rem;
    flex-grow: 0.97;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .section__cards{
    width: 20rem;
    height: 30rem;
    background-color: white;
    margin: 0 0 2.5rem auto;
  }

  .section__cards:hover{
    border: 1px solid black;
    filter: brightness(50%);
    content: "adzdazdazdaz";
  }
  .carousel__cards::after {
    content: ""; /* Met le titre que tu veux ici */
  }

  .main__img{
    position: absolute;
    width: 38.5rem;
    top: 10%;
    left: 35.7%;
    cursor: pointer;
    box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0.653);
  }

  .button{
    position: absolute;
    font-size: 5rem;
    top: 83%;
  }

  .button:hover{
    filter: blur(1.5px);
    
  }
  .carousel__leftArrow{
    left:44% ;
    top: 84.5%;
    transform: rotate(180deg);
  }

  .button:last-child{
    right: 43%;
  }

  .section__alphabetList {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 0;
    font-size: 2rem;
    font-weight: bold;
  }

  .section__alphabetItem{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.1rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 2.5rem;
  }





  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(0, 0, 0);
    font-size: 1.2rem;
    color: white;
    padding: 2rem 0;
    font-weight: bold;
  }

  .footer__list {
    display: flex;
    padding: 2.5rem 0 0 0;
    gap: 3rem;
  }
}


/* component : element reutilisable, bouton, formulaire. */
@layer component {}